{% extends 'global_layout.jinja2' %}
{% block content %}
    <div class="row">
            <div class="offest5">
                {{ form.render() | safe }}
            </div>
        </div>
    </div>
{% endblock %}